.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.otazka {
  margin-bottom: 4em;
  text-align: center;
}

.question_button {
  margin: 8px;
  background-color: white;
  color: black;
  border-color: white;
}

.question_button:hover {
  background-color: rgb(189, 223, 243);
  border-color: rgb(129, 188, 223);
}

.otazky {
  margin-top: 5em;
  
}
