.lobby {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.p-datatable th, .p-datatable td {
    text-align: center; /* Centers both header and body cells */
    
}
.tabulka th {
    background-color: rgba(247, 228, 241, 0.514);
}